/* 1. Garante que a estrutura do navegador ocupe todo o espaço */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 2. Faz o Layout do Ant Design ter no mínimo a altura da tela */
.root-layout {
  min-height: 100vh;
}
